<footer id="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="widget">
                        <figure class="footer-logo mb-15">
                            <img src="images/finwerd-logo.png" alt="">
                        </figure>
                        <div class="textwidget">
                            <p>
                            Koningin Marialaan 15-116, 
                            <br>2595 GA  Den Haag
                            <br>The Netherlands
                            <br>+31 (0)70 6400730</p>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col-md-3 col-sm-4">
                    <div class="widget">
                        <figure class="footer-logo mb-15">
                            <img src="" alt="">
                        </figure>
                        <div class="textwidget" style="padding-top:3px;">
                            <p>
                            Western House, 15th Floor 
                            <br>8-10 Broad Street
                            <br>Lagos, Nigeria</p>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="social-list">
                        <li><a target="_blank" href="https://www.linkedin.com/company/finwerd/"><i class="hc-linkedin"></i></a>
                        </li>
                        <!--<li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                        </li>
                        <li class="social-item-pinterest"><a target="_blank" href="#"><i class="hc-pinterest"></i></a>
                        </li>
                        <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="copy-text">
                        <p>© <script>
                  document.write(new Date().getFullYear());
                </script> Finwerd. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
