<footer id="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="widget">
                        <figure class="footer-logo mb-15">
                            <img src="images/dextera-bird-4.svg" alt="">
                        </figure>
                        <div class="textwidget">
                            <p>
                            Koningin Wilhelminaplein 2
                            <br>1062 HK, Amsterdam
                            <br>The Netherlands</p>

                            <p>info@dexteradomini.com
                            <br>+31 6 23348411</p>
                        </div>
                    </div>
                </div>
                {{!--<div class="col-md-3 col-sm-4">
                    <div class="widget">
                        <figure class="footer-logo mb-15">
                            <img src="" alt="">
                        </figure>
                        <div class="textwidget" style="padding-top:3px;">
                            <p>
                            9 Funsho Williams Avenue
                            <br>By Fire Service Station,
                            <br>Ojuelegba Bus stop, Lagos</p>
                            <p>t.j.kiragu@dexteradomini.com
                            <br>+31 6 23348411</p>
                        </div>
                    </div>
                </div> --}}
                {{!-- <div class="col-md-3 col-sm-4">
                    <div class="widget">
                        <h5 style="margin-bottom:17px;">The Company</h5>
                        <a href="/home">Home</a><br>
                        <a href="/people">People</a><br>
                        <a href="/institute">Institute</a><br>
                        <a href="/career">Career</a><br>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="social-list">
                        <li><a target="_blank" href="https://www.linkedin.com/company/15789235/"><i class="hc-linkedin"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/dexteragroup/"><i class="hc-facebook"></i></a>
                        </li>
                        <!--<li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>
                        </li>
                        <li class="social-item-pinterest"><a target="_blank" href="#"><i class="hc-pinterest"></i></a>
                        </li>
                        <li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="copy-text">
                        <p>© <script>
                  document.write(new Date().getFullYear());
                </script> Dextera. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
