<nav id="navbar">
    <div class="navbar-wrapper">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img class="logo-light" src="images/finwerd-logo.png" alt="">
                    <img class="logo-dark" src="images/finwerd-logo.png" alt="">
                </a>
            </div>
            <div class="menu-extras">
                <div class="menu-item">
                    <div class="header-socials">
                        <ul>
                            <li><a target="_blank" href="https://www.linkedin.com/company/15789235/"><i class="hc-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-item">
                    <div class="nav-toggle">
                        <a class="menu-toggle" href="#">
                            <div class="hamburger">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="navigation">
                <ul class="navigation-menu nav">
                    <li class="menu-item-has-children has-megamenu">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-item-has-children has-megamenu">
                        <a href="/career">Career</a>
                    </li>
                    <!--<li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="submenu">
                            <li>
                                <a href="page-about.html">About Us</a>
                            </li>
                            <li>
                                <a href="page-about-creative.html">About - Creative</a>
                            </li>
                            <li>
                                <a href="page-services.html">Services</a>
                            </li>
                            <li>
                                <a href="page-contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="page-careers.html">Careers</a>
                            </li>
                            <li>
                                <a href="page-404.html">404 Page</a>
                            </li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</nav>