{{> navbar}}
<section class="page-title parallax-section">
    <div class="row-parallax-bg">
        <div class="parallax-wrapper">
            <div class="parallax-bg">
                <img src="images/career-bg.jpg" alt="">
            </div>
        </div>
        <div class="parallax-overlay"></div>
    </div>
    <div class="centrize">
        <div class="v-center">
            <div class="container">
                <div class="title spec-head text-center">
                    {{message}}
                    {{#if message}}
                    <h1>{{message}}</h1>
                    {{else}}
                    <h1>Join our team of <br>adventurers</h1>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="title text-center">
            <h2>Current Openings</h2>
        </div>
        <div class="section-content pt-25 pb-25">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="accordion" data-open-first="true" data-multiple="true">
                        <li>
                            <div class="accordion-title">
                                <h4>Engineering</h4>
                            </div>
                            <div class="accordion-content">
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Front-End Developer</h3>
                                                <h5 class="upper">Lagos, Nigeria</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field"
                                                    data-custom-bg="#00c077">Apply Now</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            We are looking for a Front-End Web Developer who is motivated to combine the
                                            art of design with the art of programming.
                                            Responsibilities will include translation of the UI/UX design wireframes to
                                            actual code that will produce visual elements of the application. You will
                                            work with the UI/UX designer and bridge the gap between graphical design and
                                            technical implementation, taking an active role on both sides and defining
                                            how the application looks as well as how it works.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                Proficient understanding of web markup, including HTML5, CSS3
                                            </li>
                                            <li>
                                                Proficient understanding of client-side scripting and JavaScript
                                                frameworks, including jQuery
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Back-End Developer</h3>
                                                <h5 class="upper">Lagos, Nigeria</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field" data-custom-bg="#00c077">Apply
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            Back-end Developers create, code, and improve the server, server-side
                                            applications,
                                            and databases that, when combined with front-end codes, help create a
                                            functional, seamless experience for the end-user.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                Proficient knowledge of a back-end programming language (Javascript,
                                                Python, Ruby, PHP)
                                            </li>
                                            <li>
                                                Strong understanding of the web development cycle, programming
                                                techniques and tools
                                            </li>
                                            <li>
                                                Focus on efficiency, user experience, and process improvement
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Data Scientist</h3>
                                                <h5 class="upper">Lagos, Nigeria</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field" data-custom-bg="#00c077">Apply
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            We are looking for a data scientist that will help us discover the information hidden in vast
                                            amounts of data, and help us make smarter decisions to deliver even better products.
                                            Your primary focus will be in applying data mining techniques, doing statistical analysis,
                                            building high quality prediction systems, working with AI and Machine Learning techniques.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                Excellent understanding of machine learning techniques and algorithms
                                            </li>
                                            <li>
                                                Good scripting and programming skills. Experience with common data
                                                science toolkits and data visualization tools
                                            </li>
                                            <li>
                                                Good applied statistics skills, such as distributions, statistical
                                                testing, regression
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-title">
                                <h4>Marketing</h4>
                            </div>
                            <div class="accordion-content">
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Head of Marketing</h3>
                                                <h5 class="upper">Lagos, Nigeria</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field" data-custom-bg="#00c077">Apply
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            We are looking for a Head of Marketing who'll lead all our marketing
                                            activities from
                                            social media and digital campaigns to advertising and creative
                                            projects.<br />
                                            Head of Marketing responsibilities include developing plans to help
                                            establish our brand,
                                            allocating resources to different projects and setting short-term and
                                            long-term department goals.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                Solid knowledge of web analytics and Google Adwords
                                            </li>
                                            <li>
                                                Experience with CRM software
                                            </li>
                                            <li>
                                                BSc or MSc in Marketing or relevant field
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-title">
                                <h4>Sales</h4>
                            </div>
                            <div class="accordion-content">
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Sales Manager NIG</h3>
                                                <h5 class="upper">Lagos, Nigeria</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field" data-custom-bg="#00c077">Apply
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            We are looking for a high-performing Sales Manager in Nigeria to help us meet our customer acquisition
                                            and revenue growth targets by keeping our company competitive and innovative.
                                            You will be responsible for maximizing our sales team potential, crafting sales plans
                                            and justifying those to plans to the upper management.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                BSc or MSc in business administration or a related field
                                            </li>
                                            <li>
                                                Strong business sense and industry expertise
                                            </li>
                                            <li>
                                                Excellent mentoring, coaching and people management skills
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                                <div class="job-offer">
                                    <div class="job-info">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3>Sales Manager NL</h3>
                                                <h5 class="upper">Amsterdam, Netherlands</h5>
                                            </div>
                                            <div class="col-sm-4 txt-sm-right txt-md-right">
                                                <a class="btn btn-custom btn-sm" href="#contact-field" data-custom-bg="#00c077">Apply
                                                    Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-content more-text">
                                        <h6> Job Description </h6>
                                        <p>
                                            We are looking for a high-performing Sales Manager in the Netherlands to help us meet
                                            our customer acquisition and revenue growth targets by keeping our company competitive and innovative.
                                            You will be responsible for maximizing our sales team potential, crafting sales plans
                                            and justifying those to plans to the upper management.
                                        </p>
                                        <h6> Skills And Qualifications </h6>
                                        <ul>
                                            <li>
                                                BSc or MSc in business administration or a related field
                                            </li>
                                            <li>
                                                Strong business sense and industry expertise
                                            </li>
                                            <li>
                                                Excellent mentoring, coaching and people management skills
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="arrow-link read-more" href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="title text-center">
            <h2>Perks & Benefits</h2>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="icon-box boxed-style" data-animation="zoomIn">
                                <i class="hc-compass colored"></i>
                                <div class="ib-content">
                                    <h4>Impact</h4>
                                    <p>
                                        We offer you the chance to actually make a real, positive and lasting impact to make your life meaningful.<br />
                                        We live to the motto: "do what you love and you'll never work a day in your life."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="icon-box boxed-style" data-animation="zoomIn" data-delay="300">
                                <i class="hc-walk colored"></i>
                                <div class="ib-content">
                                    <h4>Wellness</h4>
                                    <p>
                                        We believe that healthy employees do great work. 
                                        Therefore we offer gym memberships to stay in shape, physically and mentally.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="icon-box boxed-style" data-animation="zoomIn" data-delay="600">
                                <i class="hc-share-alt-2 colored"></i>
                                <div class="ib-content">
                                    <h4>Flexible Work Options</h4>
                                    <p>
                                        We're all familiar with the work-from-home option, but how about the ability to work from anywhere, 
                                        even when you're in the office? We want to give you exactly that.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="icon-box boxed-style" data-animation="zoomIn" data-delay="900">
                                <i class="hc-glasses colored"></i>
                                <div class="ib-content">
                                    <h4>Professional Development</h4>
                                    <p>
                                        We believe that we need to offer our employees the possibility to master new skills and to grow into other roles, 
                                        by funding training and continuing education. We help you expand your horizon and achieve professional growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-field" class="grey-bg b-0" style="box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.02)">
    <div>
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <div class="title">
                    <h2 data-bigletter="">Apply Now</h2>
                    <h4>
                        Let us know who you are
                    </h4>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="container-fluid">
                        <form action="/contact/message" method="POST" enctype="multipart/form-data" id="cv-upload">

                            {{!-- FIRST NAME --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="firstname" placeholder="First Name"
                                    required>
                            </div>

                            {{!-- LAST NAME --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="lastname" placeholder="Last Name"
                                    required>
                            </div>

                            {{!-- EMAIL --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>

                            {{!-- PHONE --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="phone" placeholder="Phone">
                            </div>

                            {{!-- COVER LETTER --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <textarea class="form-control" name="coverletter" placeholder="Cover Letter"></textarea>
                            </div>

                            {{!-- RESUME --}}
                            <div class="upload-btn-wrapper" style="display:flex; flex-wrap:nowrap margin-right:15px;" data-animation="fadeInRight">
                                <a class="btn btn-custom upper btn-sm" style="margin-bottom: 10px" data-custom-bg="#707070">
                                    Upload your resume
                                </a>

                                {{!-- INPUT --}}
                                <div style="align-items:flex-end">
                                    <input class="file-input" type="file" name="cv" id="file" required>
                                    <span class="file-name" id="filename" style="margin-left:20px;">
                                    </span>
                                </div>

                            </div>


                            <div class="form-group" data-animation="fadeInRight">
                                <button class="btn btn-color upper" data-custom-bg="rgb(0, 192, 119)" type="submit">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Get the filename on upload
    window.onload = function () {
        var file = document.getElementById("file");
        file.onchange = function () {
            if (file.files.length > 0) {
                document.getElementById('filename').innerHTML = file.files[0].name;
            }
        };
    }
</script>