{{> navbar}}
<section>
    <div id="home-slider">
        <div class="slide-item">
            <img src="images/main-bg.jpg" alt="">
            <div class="slide-wrap">
                <div class="slide-content align-left">
                    <div class="container">
                        <h1>Reimagine the world of<br>flavour and fragrances</h1>
                        <h4 class="" style="max-width: 550px">
                            Finwerd doesn’t just offer solutions, we strive to achieve the extraordinary together.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder" style="transform: scaleX(-1)">
                <img class="bg-img" src="images/half-home-one.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="title">
                    <h2 data-bigletter="">
                        Deep Dive Approach
                    </h2>
                    <h4>Your customers’ tastes are unique and so are your brand’s needs. Developing flavours that appeal
                        to the constantly evolving consumer requires more than standard technologies and tonalities. Our
                        deep dive approach allows us to help you create products destined for success.
                         <br><br>
                        Our deep dive approach combines cross-category technologies with our regional expertise. By
                        translating scientific breakthroughs into enriching sensorial experiences we create the perfect
                        product for your customers.

                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
                <img class="bg-img" src="images/half-home-two.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
            <div class="title">
                <h2 data-bigletter="">Redefine the power of flavour
                </h2>
                <h4>
                    There’s always more than meets the senses. Our R&D team explores what exists beyond expected to
                    reveal unique insights that lead to impactful solutions for every customer challenge.

                    <br>
                    <br>
                    We use the latest ingredients, market insights and consumer preferences to design the perfect taste
                    experience for our customer’s products. From optimization and enhancement, to modification and
                    masking, our breakthrough research and ongoing food science helps us redefine the power of flavour.
                </h4>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder" data-custom-bg="#2A68FC">
                <img class="bg-img" src="images/half-home-three.jpg" alt="">
                {{!-- <img class="bg-img" src="images/bg-image-33.jpg" alt=""> --}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="column-inner">
                    <div class="title">
                        <h2 data-bigletter="">More than just flavours</h2>
                        <h4>
                            Our solutions always satisfy, due to our focus on making sure our customer’s products deliver the perfect experience, at every moment. We use only the most potent ingredients that do more than just enhance flavour and fragrances—they actively protect, retain and produce the best possible results.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-6 img-side img-left">
            <div class="img-holder"
                style="background: url(../images/half-home-four.jpg) no-repeat right top;background-size: cover;">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-md-6 col-sm-6 col-md-offset-7 col-sm-offset-6">
            <div class="title">
                {{!-- <h2 data-bigletter="C">Curriculum</h2> --}}
                <h4>With a focus on our customer’s needs and the consumer experience, we’re always developing new systems and methods that push the boundaries.
                </h4>
            </div>
            <div class="section-content pt-25 pb-25">
                <ul class="accordion" data-open-first="true">
                    <li>
                        <div class="accordion-title">
                            <h4>Molecular Detail</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>The smallest element can have the greatest impact—and a single molecule can make all of the difference when it comes to helping our customers stand out in a crowded industry.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Product Development</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    Our high-performing, signature development techniques are engineered to defy expectation and ensure our customer’s creativity thrives in every space.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Natural</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    Naturals is more than just a buzzword at Finwerd. Our team is immersed in the exploration, cultivation and conservation of our world’s most powerful natural ingredients.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Sustainable</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    We’re focused on leading the way in sustainable practices that ensure our consumers can continue to touch, taste, smell and experience the best the world has to offer, for generations to come.
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact-field" class="grey-bg b-0" style="box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.02)">
    <div>
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
      <div class="title">
        <h2 class="text-dark">We would love to hear from you.</h2>
      </div>
      <div class="row pt-25 pb-25">
        <div class="container-fluid">
          <form action="/contact/message" method="POST" enctype="multipart/form-data" id="cv-upload">

            {{!-- FIRST NAME --}}
            <div class="form-group" data-animation="fadeInRight">
              <input class="form-control" type="text" name="firstname" placeholder="Name" required>
            </div>

            {{!-- COMPANY --}}
            <div class="form-group" data-animation="fadeInRight">
                <input class="form-control" type="email" name="company" placeholder="Company" required>
            </div>

            {{!-- EMAIL --}}
            <div class="form-group" data-animation="fadeInRight">
              <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>

            {{!-- PHONE --}}
            <div class="form-group" data-animation="fadeInRight">
              <input class="form-control" type="text" name="phone" placeholder="Phone">
            </div>

            {{!-- MESSAGE --}}
            <div class="form-group" data-animation="fadeInRight">
              <textarea class="form-control" name="message" placeholder="Message"></textarea>
            </div>

            <div class="form-group" data-animation="fadeInRight">
              <button class="btn btn-color upper" data-custom-bg="#ff4726" type="submit">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    </div>
</section>
{{> footer}}