{{> navbar}}
<section>
    <div id="home-slider">
        <div class="slide-item">
            <img src="images/graduation-2-opt.jpg" alt="">
            <div class="slide-wrap">
                <div class="slide-content align-left">
                    <div class="container">
                        <h1>Top Education <br>For All People</h1>
                        <h4 class="" style="max-width: 550px">
                            Dextera is a Revolutionary school designed to educate Nigerians into the software engineers
                            of the future.
                        </h4>
                        <div class="">
                            <a class="btn btn-color upper mt-25" data-custom-bg="#00C077" href="/institute">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title text-center">
                    <p class="">Talent is not bound by borders. There are just as many
                        <span class="typed-words colored-text fw-400"
                            data-strings="[&quot;high-potential&quot;, &quot;bright&quot;, &quot;brilliant&quot;, &quot;sharp&quot;, &quot;wise&quot;, &quot;capable&quot;]">
                        </span> </br>
                        people in Africa as in any other continent. We believe that education is the key to unlocking
                        their potential. Dextera provides IT schooling in Nigeria to set up the country as a partner for
                        the technology-driven world.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder" style="transform: scaleX(-1)">
                <img class="bg-img" src="images/programmer-sitting-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="title">
                    <h2 data-bigletter="E">
                        Education as the foundation
                    </h2>
                    <h4>1 in 5 of the worlds unschooled children lives in Nigeria. This figure indicates large amounts
                        of untapped talent in the country. By providing quality education we can tap into this potential
                        and create an opportunity for all.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
                <img class="bg-img" src="images/laptop-3-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
            <div class="title">
                <h2 data-bigletter="H">How it works</h2>
                <h4>
                    Dextera trains people to become software engineers at no up-front cost for family or student.
                    <br>
                    <br>
                    After the first year of training, students are deployed by Dextera as remote software engineers at
                    companies all over the world.
                    <br>
                    <br>
                    During this four year deployment period, Dextera receives a commission over each student and
                    provides office stability, mentorship, and advanced training.
                </h4>
                <a class="arrow-link" href="/institute">Learn How It Works</a>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder" data-custom-bg="#2A68FC">
                <img class="bg-img" src="images/success-1-opt.jpg" alt="">
                {{!-- <img class="bg-img" src="images/bg-image-33.jpg" alt=""> --}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="column-inner">
                    <div class="title">
                        <h2 data-bigletter="T">Tuition</h2>
                        <h4>
                            There are no up-front costs required to attend Dextera; we only get paid when you do. Once
                            you are earning at least N3.6M per year you will pay back 30% of your income over the next
                            four years.
                        </h4>
                    </div>
                    <div class="title">
                        <h2 data-bigletter="F">Financing</h2>
                        <h4>
                            We believe that education should invest in you, not the other way around. The costs for
                            quality education are sustained with the help of our funding system which combines
                            crowdsourcing with table banking.
                        </h4>
                    </div>
                    <a class="arrow-link" href="/institute">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-6 img-side img-left">
            <div class="img-holder"
                style="background: url(../images/squares-bg6.svg) no-repeat right top;background-size: cover;">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-md-6 col-sm-6 col-md-offset-7 col-sm-offset-6">
            <div class="title">
                <h2 data-bigletter="C">Curriculum</h2>
                <h4>You will build production-ready applications in software development teams which simulate and train
                    you for real-life projects.
                </h4>
            </div>
            <div class="section-content pt-25 pb-25">
                <ul class="accordion" data-open-first="true">
                    <li>
                        <div class="accordion-title">
                            <h4>Web Development</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>Dextera's web development course will teach you to build great web apps.
                                    <br><br>
                                    You will learn CSS, HTML, React, MongoDB, Express, and much more. We teach what
                                    employers need. Our web development curriculum has been developed by industry
                                    experts.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Android/iOS Application Development</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    The Android/iOS course centers around Swift and Java as well as Custom User Interfaces and animations. This gives students the skills they need to build their first mobile app.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Artificial Intelligence</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    You will get familiarized with well-known concepts within AI such as Machine Learning, Neural Networks and Pattern Recognition. The goal of the course is to create intelligent algorithms used in real-world software.
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h4>Data Science</h4>
                        </div>
                        <div class="accordion-content">
                            <div class="title">
                                <h4>
                                    Discover the information hidden in vast amounts of data. Identify the smarter decisions and deliver even better products. The course teaches you about data mining and processing, data visualization, applied statistics skills, and any further important programming skills.
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact-field" class="grey-bg b-0" style="box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.02)">
    <div>
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <div class="title">
                    <h2 data-bigletter="C">Contact us</h2>
                    <h4>
                        Want to learn more? Send us an email
                    </h4>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="container-fluid">
                        <form action="/contact/message" method="POST" enctype="multipart/form-data" id="cv-upload">

                            {{!-- FIRST NAME --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="firstname" placeholder="First Name"
                                    required>
                            </div>

                            {{!-- EMAIL --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>

                            {{!-- PHONE --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="phone" placeholder="Phone Number">
                            </div>

                            {{!-- MESSAGE --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <textarea class="form-control" name="message" placeholder="Message"></textarea>
                            </div>

                            <div class="form-group" data-animation="fadeInRight">
                                <button class="btn btn-color upper" data-custom-bg="rgb(0, 192, 119)" type="submit">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}