{{> navbar}}
<section class="page-title parallax-section institute">
    <div class="row-parallax-bg">
        <div class="parallax-wrapper">
            <div class="parallax-bg">
                <img src="images/school-4-opt.jpg" alt=""></div>
        </div>
        <div class="parallax-overlay"></div>
    </div>
    <div class="centrize">
        <div class="v-center">
            <div class="container pt-25">
                <div class="title spec-head align-left">
                    <h1>Education is <br>the Foundation</h1>
                    <h4 style="max-width: 450px">
                        We offer IT scholarships and allowances to the best and brightest - no matter their level of education or financial situation.
                    </h4>
                </div>
                <div class="">
                    <a class="btn btn-color upper mt-25" data-custom-bg="#00C077" href="#contact-field">Apply Now</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="container">
        <div class="row pb-25 pt-25">
            <div class="col-sm-7 col-md-4">
                <div class="title">
                    <h2 data-bigletter="1">
                        Institute
                    </h2>
                    <h4>Students follow a five-year program to become high-quality remote software engineers.
                        <br><br>
                        In the first year of training, students live on campus. Dextera provides students with three meals a day, housing, and a top of the line laptop. Once students prove their excellence in project simulations, they are deployed as remote software engineers for global companies.
                        <br><br>
                        During the four year deployment period, Dextera receives 30% commission over each student and provides office stability, mentorship, and advanced training.
                    </h4>
                </div>
            </div>
            <div class="col-sm-7 col-md-4">
                <div class="title">
                    <h2 data-bigletter="2">
                        Crowdfund
                    </h2>
                    <h4>To sustain and grow our educational model, Dextera uses a funding system which mixes crowdsourcing with table banking.
                        <br><br>
                        By selling scholarship tickets, money is collected and invested in the institution. People who purchase scholarship tickets become eligible to receive fully paid scholarships, self-development allowances, or family supporting grants; all with the goal to stimulate educational development.
                        <br><br>
                        Tickets can be purchased at one of our partners.</h4>
                    <a class="arrow-link" href="#">Partner page in progress</a>
                </div>
            </div>
            <div class="col-sm-7 col-md-4">
                <div class="title">
                    <h2 data-bigletter="3">
                        Draws
                    </h2>
                    <h4>Scholarship and self-development grant draws happen every week.
                        <br><br>
                        Depending on the amount of money raised in the crowdsourcing, our system automatically picks and updates the people who participated. The more tickets sold: the more spots and grants available.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="split-section" style="border-top: 1px solid #eee">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder">
                <img class="bg-img" src="images/school-2-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="title">
                    <h2 data-bigletter="S">
                        Scholarships
                    </h2>
                    <h4>
                        Applicants who are selected for a scholarship will receive N1.500.000 in monthly payments of N150.000 to cover the twelve-month program. Scholarships can be terminated at any time, but cannot be converted to loans. Students who receive a scholarship do not have to pay back the allowance.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
                <img class="bg-img" src="images/friendly-4-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
            <div class="title">
                <h2 data-bigletter="F">
                    Student support loan
                </h2>
                <h4>
                    Besides scholarships, students can also apply for a support loan. Students who are selected for the student support loan also receive N1.500.000 in monthly payments of N150.000.
                    <br><br>
                    If a student has shown impressive performance during the training, the loan can be converted to a scholarship. If this is the case, the student does not have to pay back the loan. 
                    <br><br>
                    If the loan does not convert to a scholarship, the student pays back the loan with 10% of their salary spread over the four years of deployment. 
                    <br><br>
                    The maximum loan reimbursement is capped at N4M.
                </h4>
                <a class="arrow-link" href="#contact-field">Contact us for more information</a>
            </div>
        </div>
    </div>
</section>




<section class="split-section">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder" data-custom-bg="#2A68FC">
                <img class="bg-img" src="images/school-1-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="column-inner">
                    <div class="title">
                        <h2 data-bigletter="A">After Dextera</h2>
                        <h4>
                            Once a student has completed the training successfully, we either guide them to get a job at one of our partner companies or offer them a job in one of our own distributed engineering teams.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-field" class="grey-bg b-0" style="box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.02)">
    <div>
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <div class="title">
                    <h2 data-bigletter="A">Apply for our next batch</h2>
                    <h4>
                        Anyone can apply, however, only the best are selected.
                    </h4>
                </div>
                <div class="row pt-25 pb-25">
                    <div class="container-fluid">
                        <form action="/contact/applicant" method="POST" enctype="multipart/form-data" id="cv-upload">

                            {{!-- FIRST NAME --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="firstname" placeholder="First Name"
                                    required>
                            </div>

                            {{!-- LAST NAME --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="lastname" placeholder="Last Name"
                                    required>
                            </div>

                            {{!-- EMAIL --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>

                            {{!-- PHONE --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <input class="form-control" type="text" name="phone" placeholder="Phone Number">
                            </div>

                            {{!-- COVER LETTER --}}
                            <div class="form-group" data-animation="fadeInRight">
                                <textarea class="form-control" name="coverletter" placeholder="Cover Letter"></textarea>
                            </div>

                            {{!-- RESUME --}}
                            <div class="upload-btn-wrapper" style="display:flex; flex-wrap:nowrap margin-right:15px;" data-animation="fadeInRight">
                                <a class="btn btn-custom upper btn-sm" style="margin-bottom: 10px" data-custom-bg="#707070">
                                    Upload your resume
                                </a>

                                {{!-- INPUT --}}
                                <div style="align-items:flex-end">
                                    <input class="file-input" type="file" name="cv" id="file" required>
                                    <span class="file-name" id="filename" style="margin-left:20px;">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" data-animation="fadeInRight">
                                <button class="btn btn-color upper" data-custom-bg="rgb(0, 192, 119)" type="submit">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Get the filename on upload
    window.onload = function () {
        var file = document.getElementById("file");
        file.onchange = function () {
            if (file.files.length > 0) {
                document.getElementById('filename').innerHTML = file.files[0].name;
            }
        };
    }
</script>
{{> footer}}