{{> navbar}}
<section class="page-title parallax-section">
    <div class="row-parallax-bg">
        <div class="parallax-wrapper">
            <div class="parallax-bg">
                <img src="images/bg-image-1.jpg" alt=""></div>
        </div>
        <div class="parallax-overlay"></div>
    </div>
    <div class="centrize">
        <div class="v-center">
            <div class="container">
                <div class="title text-center">
                    <h1>It all starts with<br>the people</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="padding:0" >
                <div class="title text-center">
                    <h2>Unlocking human potential</h2>
                </div>
                <div class="section-content text-center title">
                    <p class="fw-400 ">We are driven to create an environment where talented people can thrive.</p>
                </div>
            </div>
        </div>
        <div class="row pt-25 pb-25">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-box boxed-style align-center" data-animation="zoomOut">
                            <div class="animated-icon colored" data-icon="images/icons/live.svg"></div>
                            <div class="ib-content">
                                <h4>In-person classes</h4>
                                <p>Majority of classes are taught in-person by one teacher and two assistants. Each class consists of 15 to 20 students with similar abilities which are tested during the application process.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box boxed-style align-center" data-animation="zoomOut" data-delay="300">
                            <div class="animated-icon colored" data-icon="images/icons/education.svg"></div>
                            <div class="ib-content">
                                <h4>High-level teachers</h4>
                                <p>Dextera’s teachers are industry experts with backgrounds ranging from great universities to market-leading tech companies. Only by offering the best, will we be able to create the best. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box boxed-style align-center" data-animation="zoomOut" data-delay="600">
                            <div class="animated-icon colored" data-icon="images/icons/support.svg"></div>
                            <div class="ib-content">
                                <h4>Supporting environment</h4>
                                <p>Studying can be hard - really hard. Especially for those who have never learned how to study. To facilitate our students Dextera creates an open learning environment with dedicated mentors.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section directors">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder ">
                <img class="bg-img" src="images/rs-bevelsborg-cr-br-opt.jpg" style="transform: rotate(20deg);" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row">
                <div class="title directors">
                    <h2 data-bigletter="R">
                        Rik Solomon
                    </h2>
                    <h4>As an experienced engineer, Rik knows what makes a good idea and how to kickstart it. He is determined to show how religion and science can come together to create a meaningful impact.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="split-section directors">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder ">
                <img class="bg-img" src="images/bz-wakker2-cr-br-opt.jpg" alt="" style="width: 10vw;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
            <div class="title directors">
                <h2 data-bigletter="B">Bas</h2>
                <h4>Bas loves shaping the future, pushing ideas, and building new things. He is a former science teacher with an entrepreneurial background and a born-again attitude.</h4>
            </div>
        </div>
    </div>
</section>

<section class="split-section directors" style="box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.02)">
    <div class="side-background">
        <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder ">
                <img class="bg-img" src="images/tj-kiragu1-cr-br-opt.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-7 col-md-5">
            <div class="row pb-25">
                <div class="title directors">
                    <h2 data-bigletter="S">
                        Steven
                    </h2>
                    <h4>With his entrepreneurial background, Steven knows what makes a business tick. He is driven to shape a new generation of software engineers in Nigeria.</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}